  
.section--welcome{
    height: 88vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 375px;
}
.section--welcome h1{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 8%;
}
.section--welcome h4{
    font-size: 18px;
    margin-left: 8%;
    margin-bottom: 30%;
}

@media screen and (min-width: 600px) {
    .section--welcome h1{
        font-size: 50px;
        margin-left: 0;
    }
    .section--welcome h4{
        font-size: 22px;
        margin-left: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 500px) {
    .section--welcome{
        height: 80vh;
    }
}